html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;

  background-color: $color_white;
}

img {
  max-width: 100%;
  height: auto;
}
