@mixin inner {
  @include screen_steps;

  width: 100%;
  margin: 0 auto;
  padding: $padding_mobile;
}

@mixin screen_steps() {
  @media (min-width: $width_tablet) {
    padding: $padding_tablet;
  }

  @media (min-width: $width_desktop) {
    width: $width_desktop;
    padding: $padding_desktop;
  }

  @media (min-width: $width_desktop_wide) {
    padding: $padding_wide;
  }
}

@mixin list() {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin heading_h1 {
  font-size: $font_size_h1_desktop;
  line-height: $line_height_h1_desktop;
}

@mixin heading_h2 {
  font-size: $font_size_h2_desktop;
  line-height: $line_height_h2_desktop;
}

@mixin heading_h3 {
  font-size: $font_size_h3_desktop;
  line-height: $line_height_h3_desktop;
}

@mixin heading_h4 {
  font-size: $font_size_h4_desktop;
  line-height: $line_height_h4_desktop;
}

@mixin indent_p {
  font-size: $font_size_p_desktop;
  line-height: $line_height_p_desktop;
}
