// все цвета

$color_white: #ffffff;
$color_orange: #f17d4b;
$color_coral: #fe7865;
$color_button_not_selected: rgba(44, 46, 63, 0.07);
$color_gray: #2c2e3f;
$color_dark: #000000;

// все свойства шрифтов

$font_family_base: "Open Sans";
$font_size_base: 10px;
$font_weight_normal: 400;
$font_weight_bold: 700;

// во всех ниже перечисленных наборах выделять среднее значения f-s и l-h и прописывать их в файле mixins как базовые для всех шрифтов на всех страницах, это позволяет ускорить подгонку размеров заголовков и текста максимально приближёнными к макету, в начале стилизации просто инклюдим соответствующие mixin на соответствующий элемент (h1...h6, p)
// mobile font-size (h1...h6, p)
// tablet font-size (h1...h6, p)
// desktop font-size (h1...h6, p)

// mobile line-height (h1...h6, p)
// tablet line-height (h1...h6, p)
// desktop line-height (h1...h6, p)

// padding

$padding_wide: 0 70px;
$padding_desktop: 0 60px;
$padding_tablet: 0 50px;
$padding_mobile: 0 30px;

// ширины контента + padding

$width_desktop_wide: 1600px; // 1600 - (70 * 2) = 1460px ширина контентной части
$width_desktop: 1280px; // 1280 - (60 * 2) = 1160px ширина контентной части
$width_tablet: 100%;
$width_mobile: 100%;

// Значения вьюпортов

$width_viewport_desktop_wide: 1600px;
$width_viewport_desktop: 1280px;
$width_viewport_tablet: 768px;
$width_viewport_mobile_only: 767px;

// Ретинизация

$retina_dpi: 144dpi;
$retina_dppx: 1.5dppx;

//
$transition: all 0.3s;
